<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Main Page</title>
		<link rel="stylesheet" href="/base.css">
		<link rel="stylesheet" href="/index.css">
	</head>
	<body>
        <header>
            <h1>Handlebar Diaries</h1>
        </header>
		<section class="greeter">
			<section>
				<h3>Welcome to the blog</h3>
                <button><a href="/users/login">Sign in</a></button>
			</section>
		</section>
	</body>
</html>

