<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Article</title>
  <link rel="stylesheet" href="/base.css">
  <link rel="stylesheet" href="/index.css">
</head>
<body>
    <section class="app">
			<nav class="nav">
				<ul>
                    <li class="settings"><a href="/users/settings">settings</a></li>
					<li class="user"><%= user.username %></li>
                    <li>
                        <button class="logout"><a href="/users/logout">Sign out</a></button>
                    </li>
				</ul>
			</nav>
            <section class="main">
                <div class="article-container">
                    <button class="back-button"><a href="/author/home">Back to Home</a></button>
                    <h1>Create a new draft</h1>

                    <form action="/author/article/create" method="POST">
                        <label for="title">Article Title</label>
                        <input type="text" id="title" name="title"  required>

                        <label for="title">Article Subtitle</label>
                        <input type="text" id="subtitle" name="subtitle"  required>

                        <label for="content">Article Text</label>
                        <textarea id="content" name="content" rows="10" required></textarea>

                        <button type="submit">Create Draft</button>
                    </form>
                </div>
            </section>
    </section>
</body>
</html>

